* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 7rem 0;
  background: rgba(238, 130, 238, 0.356);
  font-family: 'Poppins', sans-serif;
}
.airbnb {
  max-width: 37rem;
  /* max-width: 80%; */
  margin: 0 auto;
  background: white;
  border-radius: 9px;
}
nav {
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  padding: 3vh;
}

.logo {
  margin-left: 1rem;
}

.section1 {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-top: 4rem;
  flex-wrap: wrap;
}
.div1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.div2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.div3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 2rem;
}
.div4 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.div5 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 1rem;
}

.des--intro {
  padding: 3em;
}
h1 {
  padding-bottom: 0.3em;
  font-size: 1.9em;
  max-width: 61%;
  font-weight: bolder;
}
.description {
  font-size: .8rem;
  width: 53%;  
  max-width: 53%;
  font-weight: lighter;
  line-height: 130%;
}


.container--wrapper {
  display: flex;
  gap: 2.08rem;
  /* flex-wrap: wrap; */
  overflow-x: scroll;
  scroll-snap-type: mandatory;
  scroll-padding: var(1rem);
  flex: 0 0 auto;
  padding: 0 2em;
  padding-bottom: 4rem;
}
.container--wrapper > * {
  scroll-snap-align: start;
}
.container--wrapper::-webkit-scrollbar {
  display: none;
}

.cards--container {
  width: 36%;
  max-width: 36%;
  /* border: 2px solid lightgreen; */
}
.card1 {
  width: 100%;
  max-width: 13rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card--img {
  width: 100%;
  display: block;
  margin-bottom: 0.5rem;
  /* max-width: 13rem; */
}
.card--availability {
  /* position: absolute; */
  color: black;
  font-size: 0.7rem;
  background-color: white;
  padding: 1px 4px;
  position: -webkit-sticky;
  position: sticky;
  top: 10%;
  margin: 0.6rem;
}

.card--stats {
  display: flex;
  font-size: .8rem;
  gap: 3px;
  /* align-items: center; */
}
.star {
  height: 0.8rem;
  margin-top: 1px;
}
.grey {
  color: #918e9bd0;
  font-size: 100;
}
p {
  font-size: 0.77rem;
  line-height: 170%;
}